<form action="{:url('News/ajax_save')}" method="post" enctype="multipart/form-data">
    <div class="form-group ">
        <label for="">书籍名称</label>
        <input type="text" name="book_name" class="form-control addAdmin" value="{$data.book_name}">
        <input type="hidden" name="id" value="{$data['id']}">
        <div class="alert alert-warning"></div>

    </div>
    <div class="form-group ">
        <label for="">书籍简介</label>
        <input type="text" name="introduction" class="form-control addAdmin" value="{$data.introduction}">
        <input type="hidden" name="id" value="{$data['id']}">
        <div class="alert alert-warning"></div>

    </div>
    <div class="form-group">
        <label for="">书籍分类</label>
        <select name="cid" id="" class="form-control">
            {volist name="category" id="val"}
            <option value="{$val.id}">{$val.name}</option>
            {/volist}
        </select>
        <div class="alert alert-warning"></div>
    </div>
    <div class="form-group">
        <label for="">书籍图片</label>
        <input type="file" name="img" id="">
        <input type="hidden" name="oldimg" value="{$data.img}">
        <br>
        <img src="/upload/tmp/{$data.img}" width="100%" alt="">
        <div class="alert alert-warning"></div>

    </div>
    <div class="form-group">
        <label for="">书籍作者</label>
        <input type="text" name="author" class="form-control addAdmin" value="{$data.author}">
        <div class="alert alert-warning"></div>

    </div>

    <div class="form-group">
        <label for="">浏览量</label>
        <input type="number" name="click_num" class="form-control addAdmin" value="{$data.click_num}">
        <div class="alert alert-warning"></div>

    </div>
    <div class="form-group">
        <label for="">点赞数</label>
        <input type="number" name="click_good" class="form-control addAdmin" value="{$data.click_good}">
        <div class="alert alert-warning"></div>

    </div>
    <div class="form-group">
        <label for="">收藏数</label>
        <input type="number" name="collection" class="form-control addAdmin" value="{$data.collection}">
        <div class="alert alert-warning"></div>

    </div>

    <div class="form-group pull-right">
        <input type="submit" value="提交" class="btn btn-success">
        <input type="reset" value="重置" class="btn btn-danger">
    </div>
    <div style="clear:both"></div>
</form>